*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background: rgb(156, 234, 252);
}
header{
    display: flex;
    align-items: center;
}
ul.nav{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border:double;
    border-radius: 20px;
    overflow: hidden;
}
ul.nav>li>a{
    text-decoration: none;
    display: block; 
    padding: 10px;
    background:  #E9967A;
    color:white;
}
ul.nav>li>a:hover{
    background: orange;
    transition: background 0.5s;
}
div.col1{
    width: 30%;
}
div.col2{
    width: 70%;
}
div.col2 > div.menu{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
div.col2 > div.nav-click{
    display: none;
}
.search{
    margin-bottom: 10px; 
}
.search input{
    border-radius: 10px 10x 10px 10px;
}
form{
    width: 500px;
    background: white;
    border: pink solid;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
}
form input.input-text{
    margin: 5px;
    border: pink solid;
    border-radius:20px;
    width: 45%;
}
div.center{
    text-align: center;
    margin: 5px;
}
div.register{
    position: relative;
}
div.register:hover form{
    display: block;
}
div.register:hover{
    background: gold;
    transition: background 0.5s;
}
section{
    background: antiquewhite;
    width: 100%;
}
.flex{
    display: flex;
    align-items: center;
}
.user{
    display: flex;
    width: 100%;
}
div.login{
    position: relative;
}
div.login:hover form{
    display: block;
}
div.login:hover{
    background: gold;
}
.login-button{
    display: flex;
    justify-content: space-around;
}
div.film-content{
    width: 100%;
    background: gold;
    padding: 20px;
}
div.film-content > div{
    display: flex;
    justify-content: space-around;
}
div.film-content > div > div.picture{
    width: 30%;
    background: #ddd09b;
    padding: 10px;
}
div.film-content > div > div.infomation{
    width: 60%;
    background: orange;
    border-radius: 20px;
    box-shadow: 5px 5px 0 rgba(0,0,0,0.5);
}
div.film-content > div > div.infomation >div{
    margin: 25px;
}
div.film-content > div > div.picture > img{
    width: 100%;
}
div.infomation > div.details > ul{
    list-style-type: none;
}
div.infomation > div.details > ul > li{
    display: flex;
    align-items: center;
}
div.infomation > div.details > ul > li >div{
    margin: 5px;
}
div.infomation > div.details > ul > li >div:last-child{
    background: #E9967A;
    color: white;
    padding: 15px;
    border-radius: 20px 0 20px 0;
}
div.link-button{
    display: flex;
    justify-content: center;
}
div.link-button > div> a{
    text-decoration: none;
    padding: 15px;
    font-size: large;
    color: white;
    background: #E9967A;
    border-radius: 30px; 
}
footer{
    display: flex;
    align-items: center;
    max-height: 150px;
}
div#gototop{
    background: rgb(222, 173, 82);
    text-align: center;
    margin: 5px;
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    display: none;
}
div#gototop > a{
    text-decoration: none;
}
div.exit{
    display: none;
}